.main{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #ffffffdd;
    backdrop-filter: blur(8px);
    z-index: 9999;
}
.loader {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .loader:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #394b59;
    border-color: #394b59 transparent #394b59 transparent;
    animation: spin 1.2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  