.main{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
}

.main > *{
    border-right: 1px solid #ddd;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.main > *::-webkit-scrollbar{
    width: 0.3em;
  }


.stats{
    margin: 25px 0 18px 0;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
}

.stats > *{
    margin: 8px 0;
}

.bid_input_container{
    position: relative;
}

.bid_input_container > div{
    position: fixed;
    top:50px;
    left:0;
    width: 19.8%;
}

.cell{
    display: flex;
    min-height: 80px;
    padding:6px 15px;
    border-bottom: 1px solid #ddd;
}

.cell button{
    width: 45px;
    border-right: 1px solid #ddd;
}

.cell > div{
    padding: 16px;
}

.product img{
    max-height: 75vh;
}

.product > *{
    padding: 16px;
}

.popup{
    position: absolute;
    left:108%;
    top:50%;
    min-width: 160px;
    transform: translateY(-50%);
    border-radius: 2px;
    background-color: #333;
    color:#fff;
    padding:4px;
}

.popup:after{
    position: absolute;
    content:"";
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-right: 8px solid #333;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

